# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

credentials.json

# asdf
.tool-versions

certificates

/public/slides/*
!/public/slides/demo/

/logs/*

# Live2D files
public/live2d/*
!public/live2d/nike01
public/scripts/*
!public/scripts/.gitkeep

# VRM files
/public/vrm/*
!/public/vrm/AvatarSample_A.vrm
!/public/vrm/AvatarSample_B.vrm
!/public/vrm/AvatarSample_C.vrm
!/public/vrm/nikechan_v1.vrm
!/public/vrm/nikechan_v2.vrm
!/public/vrm/nikechan_v2_outerwear.vrm

# Background files
/public/backgrounds/*
!/public/backgrounds/bg-c.png

/public/images/uploaded/*
!/public/images/placed/.keep

.claude/settings.local.json

