/* @theme custom */
@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

section {
  color: #656d76;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  line-height: 1.7;
  padding-bottom: 1em;
  background-color: #fff;
}

section.title {
  background-color: #5e80ad;
  color: white;
}

section.title h1,
section.title h3,
section.title h6 {
  color: white;
}

section.title footer {
  color: #5e80ad;
}

strong {
  color: #4488cc;
}

em {
  font-style: normal;
  font-weight: bold;
  background-color: #4488cc25;
}

h1,
h2 {
  color: #224466;
}

section mjx-container {
  color: #5e80ad;
}

section table {
  margin: 10px auto;
}

section table td {
  text-align: center;
}

section table td img {
  display: block;
  margin: 0 auto;
}

section table th {
  background-color: var(--background-theme);
}

header {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #5e80ad; /* 下線を追加 */
}
